@model Reservation.mvcproject.Models.AppUser;
@{
    ViewData["Title"] = "DeleteUserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="DeleteUser" asp-controller="AspUser" method="post">
    <div class="form-group">
        <div class="col-sm-4">
            <label asp-for="UserName">Email</label>
            <input asp-for="UserName" class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</span>
        </div>
    </div><br />
    <button type="submit" class="btn btn-primary">Delete</button>
</form>

