@model Reservation.mvcproject.Entities.Res;
@{
    ViewData["Title"] = "ReservationsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-container w3-red">
    <h2><i class="fa fa-bed w3-margin-right"></i>Hotel Name</h2>
</div>
<div class="w3-container w3-white w3-padding-16">
    <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px;">
            <div class="w3-half w3-margin-bottom">
                <label><i class="fa fa-calendar-o"></i> Start Date</label>
                <label asp-for="rezDate"></label>
                <input asp-for="rezDate" class="form-control" />
                <span class="text-danger">@Html.ValidationMessageFor(m => m.rezDate)</span>
            </div>
            <div class="w3-half">
                <label><i class="fa fa-calendar-o"></i> End Date</label>
                <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>
            </div>
        </div>
@*         <div class="col-sm-3">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.City)</span>

        </div> *@
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Search availability</button>
    </form>
</div>

